<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Bomber_GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Bomber_GUI.Properties.Settings>
            <setting name="BombCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="PlayerHash" serializeAs="String">
                <value />
            </setting>
            <setting name="BetAmmount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="BetCost" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PercentOnLoss" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="StopAfterWin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StopAfterLoss" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StratergySquares" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UseStrat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowGameBombs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConfigTag" serializeAs="String">
                <value />
            </setting>
            <setting name="StopAfterGames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StopAfterGamesAmmount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BalanceStopAbove" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BalanceStopBelow" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ResetBetMultiplyer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ResetBetMultiplyerDeadline" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MetaSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GameDelay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UseProxy" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBalance" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SiteConfig" serializeAs="String">
                <value>stake.com</value>
            </setting>
            <setting name="CheckboxStopAbove" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckboxStopBelow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RandomEveryGameChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RandomEveryWinChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RandomEveryLossChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RestartOnCrashChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="precentOnWin" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="PercentOnWinResetGames" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ResetBaseWinCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="percentOnWinResetChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ResetBaseWinsChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OppositeTileChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cookie" serializeAs="String">
                <value />
            </setting>
            <setting name="Agent" serializeAs="String">
                <value />
            </setting>
            <setting name="Instant" serializeAs="String">
                <value>False</value>
            </setting>
        </Bomber_GUI.Properties.Settings>
    </userSettings>
</configuration>